<h1>Appsy</h1>
<h2>Input two names and see if they should get married</h2>
<form action="/names" method="post">
	<label for="partner_1_name">
		Partner 1
		<input type="text" name="partner_1_name">
	</label>
	<label for="partner_2_name">
		Partner 2
		<input type="text" name="partner_2_name">
	</label>
	<input type="submit" value="Should they get married?">
</form>